// 
// user.scss
// Use this to write your custom SCSS
//

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

article img {
    max-width: 100%;
}

.img-author {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

a.brand,
a.brand:hover,
a.brand:visited,
a.brand:active,
a.brand:link {
    color: #000;
    text-decoration: none; 
}

#meta {
    p {
        font-size: .9em;
    }

    a {
        color: #000;
        text-decoration: none; 
    }
}

.meta {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .1em;
    transform: uppercase;
    color: #777;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: #777;

        &:hover, &:focus {
            text-decoration: none;
            color: #777;
        }
    }
}

.meta-nav {
    font-size: 1rem;

    .active {
        font-weight: 600 !important;
    }
}
