// 
// user.scss
// Use this to write your custom SCSS
//

article img {
    max-width: 100%;
}

a.brand,
a.brand:hover,
a.brand:visited,
a.brand:active,
a.brand:link {
    color: #000;
    text-decoration: none; 

}