{{ define "main" }}

<div class="container bg-white p-3 p-lg-5">
    <div class="row">
        <div class="col">
            <h1>{{ .Title }}</h1>

            {{ .Content }}
        </div>
    </div>
    <div>
        <div class="col">
            <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a> <span class="text-muted">({{ .Date.Format "2006-01-02" }})</span>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}
