{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <div class="content">
            {{ .Content }}

            {{- $featuredPosts := (T "featuredPosts") | default "Featured Posts" -}}
            <h2>{{- $featuredPosts -}}<span class="hx-absolute -hx-mt-20" id="featured"></span>
            <a href="#featured" class="subheading-anchor" aria-label="Permalink for this section"></a></h2>
            {{- $readMore := (T "readMore") | default "Read more →" -}}
            {{- $pages := first 3 (where .Site.Pages "Type" "post") -}}
            {{- range $pages }}
                <h3><a style="color: inherit; text-decoration: none;" class="hx-block hx-font-semibold hx-mt-8 hx-text-2xl " href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{- if site.Params.blog.list.displayTags -}}
                {{ with .Params.tags }}
                    <p class="hx-opacity-50 hx-text-sm hx-leading-7">
                    {{- range . }}<a class="hx-inline-block hx-mr-2">#{{ . }}</a>{{ end -}}
                    </p>
                {{ end -}}
                {{- end -}}
                <p class="hx-opacity-80 hx-mt-4 hx-leading-7">{{- partial "utils/page-description" . -}}</p>
                <p class="hx-opacity-80 hx-mt-1 hx-leading-7">
                <a class="hx-text-[color:hsl(var(--primary-hue),100%,50%)] hx-underline hx-underline-offset-2 hx-decoration-from-font" href="{{ .RelPermalink }}">
                    {{- $readMore -}}
                </a>
                </p>
                <p class="hx-opacity-50 hx-text-sm hx-mt-4 hx-leading-7">{{ partial "utils/format-date" .Date }}</p>
            {{ end -}}

            <br />
            {{- $morePosts := (T "morePosts") | default "More Posts" -}}
            <a href="{{ "/posts/" | absURL }}"
                class="not-prose hx-font-medium hx-cursor-pointer hx-px-6 hx-py-3 hx-rounded-full hx-text-center hx-text-white hx-inline-block hx-bg-primary-600 hover:hx-bg-primary-700 focus:hx-outline-none focus:hx-ring-4 focus:hx-ring-primary-300 dark:hx-bg-primary-600 dark:hover:hx-bg-primary-700 dark:focus:hx-ring-primary-800 hx-transition-all hx-ease-in hx-duration-200"
                >{{- $morePosts -}}</a>
        </div>
      </main>
    </article>

  </div>
{{ end }}