{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Welcome</h1>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Sorry!</strong> My old blogposts will be restored shortly!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            
            <p>The site is under construction, you can follow the development on <a href="https://github.com/roaldnefs/roaldnefs.com">GitHub</a>.</p>
            
        </div>
    </div>
</div>

{{ end }}